<br>


<div class="row">

    <div class="col-md-6">
            <br>

            <h1>Location</h1>
            
            <br>
            <agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>Neoris SFW </strong>
      <br>
      <a href="https://www.google.com/maps/place/NEORIS/@25.675819,-100.4189817,17z/data=!3m1!4b1!4m5!3m4!1s0x866297c2a9555555:0x5709250fa3d95003!8m2!3d25.675819!4d-100.416793">Ver en Google Maps</a>
    </agm-info-window>
    
  </agm-marker>
  
  <agm-circle [latitude]="lat" [longitude]="lng" 
      [radius]="100"
      [fillColor]="'red'"
      [circleDraggable]="false"
      [editable]="false">
  </agm-circle>

</agm-map>
    </div>

    <div class="col-md-6">
            <br>

            <h1>Contact</h1>

            <br>

        <!-- Default form contact -->
<form>
    <p class="h4 text-center mb-4">Write to us</p>

    <!-- Default input name -->
    <label for="defaultFormContactNameEx" class="grey-text">Your name</label>
    <input type="text" id="defaultFormContactNameEx" class="form-control">

    <br>

    <!-- Default input email -->
    <label for="defaultFormContactEmailEx" class="grey-text">Your email</label>
    <input type="email" id="defaultFormContactEmailEx" class="form-control">

    <br>

    <!-- Default input subject -->
    <label for="defaultFormContactSubjectEx" class="grey-text">Subject</label>
    <input type="text" id="defaultFormContactSubjectEx" class="form-control">

    <br>

    <!-- Default textarea message -->
    <label for="defaultFormContactMessageEx" class="grey-text">Your message</label>
    <textarea type="text" id="defaultFormContactMessageEx" class="form-control" rows="3"></textarea>

    <div class="text-center mt-4">
        <button class="btn btn-outline-success" type="submit">Send</button>
    
    </div>
</form>
<!-- Default form contact -->
    </div>

</div>


